[Unit]
Description=Netflix Flask App
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/app
EnvironmentFile=/home/ubuntu/app/.env
ExecStart=/home/ubuntu/app/.venv/bin/gunicorn --config /home/ubuntu/app/gunicorn_conf.py wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
